* {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

@media screen {
	.column {
		float: left;
		box-sizing: border-box;
	}
	.small-1 {
        width: 8.333%;
    }
    .small-2 {
        width: 16.666%;
    }
    .small-3 {
        width: 25%;
    }
    .small-4 {
        width: 33.333%;
    }
    .small-5 {
        width: 41.666%;
    }
    .small-6 {
        width: 50%;
    }
    .small-7 {
        width: 58.333%;
    }
    .small-8 {
        width: 66.666%;
    }
    .small-9 {
        width: 75%;
    }
    .small-10 {
        width: 83.333%;
    }
    .small-11 {
        width: 91.666%;
    }
    .small-12 {
        width: 100%;
    }
    .small-hidden {
        display: none;
    }
}

@media screen and (min-device-width: 50rem) and (max-device-width: 60rem) {
	.medium-1 {
        width: 8.333%;
    }
    .medium-2 {
        width: 16.666%;
    }
    .medium-3 {
        width: 25%;
    }
    .medium-4 {
        width: 33.333%;
    }
    .medium-5 {
        width: 41.666%;
    }
    .medium-6 {
        width: 50%;
    }
    .medium-7 {
        width: 58.333%;
    }
    .medium-8 {
        width: 66.666%;
    }
    .medium-9 {
        width: 75%;
    }
    .medium-10 {
        width: 83.333%;
    }
    .medium-11 {
        width: 91.666%;
    }
    .medium-12 {
        width: 100%;
    }
    .small-hidden {
        display: block;
    }
}

@media screen and (min-device-width: 60rem) {
    .large-1 {
        width: 8.333%;
    }
    .large-2 {
        width: 16.666%;
    }
    .large-3 {
        width: 25%;
    }
    .large-4 {
        width: 33.333%;
    }
    .large-5 {
        width: 41.666%;
    }
    .large-6 {
        width: 50%;
    }
    .large-7 {
        width: 58.333%;
    }
    .large-8 {
        width: 66.666%;
    }
    .large-9 {
        width: 75%;
    }
    .large-10 {
        width: 83.333%;
    }
    .large-11 {
        width: 91.666%;
    }
    .large-12 {
        width: 100%;
    }
    .small-hidden {
        display: block;
    }
}

#topnav ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	z-index: 10000;
	position: fixed;
}
#topnav ul li {
	list-style: none;
	flex-grow: 1;
	text-align: center;
}
#topnav ul li a {
	display: block;
	background-color: #262626;
	text-decoration: none;
	padding: 0.7rem;
	font-size: 20px;
	color: #FFFFFF;
	box-shadow: 0rem 0rem 0.9rem 0rem rgba(0,0,0,0.2);
}
#topnav ul li a.current {
	background-color: #404040;
}
#topnav ul li a:hover {
	background-color: #727272;
}
#topnav ul li form {
	display: block;
	background-color: #262626;
	text-decoration: none;
	padding: 0.7rem;
	font-size: 20px;
	color: #FFFFFF;
	box-shadow: 0rem 0rem 0.9rem 0rem rgba(0,0,0,0.2);
}
#topnav ul li form input.current {
	background-color: #404040;
}
#topnav ul li form input:hover {
	background-color: #727272;
}
#topnav ul li p {
	display: block;
	background-color: #262626;
	text-decoration: none;
	padding: 0.7rem;
	font-size: 20px;
	color: #FFFFFF;
	box-shadow: 0rem 0rem 0.9rem 0rem rgba(0,0,0,0.2);
}
